# ====================================================================
# GRADLE (Cache, logi i skompilowany plugin)
# ====================================================================
.gradle/
build/
out/

# ====================================================================
# INTELLIJ IDEA (Ustawienia IDE - zbędne w repozytorium)
# ====================================================================
.idea/
*.iml
*.ipr
*.iws

# ====================================================================
# SYSTEMOWE (Śmieci generowane przez Windows, macOS i Linux)
# ====================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# ====================================================================
# DIAGNOSTYKA I LOGI (Logi serwera i zrzuty pamięci po crashu Javy)
# ====================================================================
*.log
*.tmp
hs_err_pid*
*.hprof